#sankey {
  overflow-y: auto !important;  
}

#sankey-svg {
}

#sankey .node {
  width: 7px; 
  transform: translateX(-2px);
}

#vis #sankey path {
  opacity: .4;
  transition: all .2s;
  transition-delay: .3s;
  transition-timing-function: ease-in;
}

#vis #sankey path.unselected {
  opacity: .1;
}

#vis #sankey path.selected {
  opacity: 1;
}

#sankey text {
    transform: rotate(-90deg) translate(0px, -5px);
    transform-origin: center center;
    transform-box: fill-box;
    text-anchor: middle;
}
